* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f5f7;
    color: #222;
    padding: 40px;
}

body {
    margin: 0;
    padding: 40px;
    min-height: 100vh;
    position: relative;
    z-index: 0; 
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('moalboal-basdaku-1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1; 
    z-index: -1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.btn-primary {
    background-color: #2a3074;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0d8ddb;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
}

.hero-left h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
}

.hero-left span {
    border-bottom: 4px solid #2a3074;
}

.hero-right {
    max-width: 400px;
    font-size: 16px;
    color: #555;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.video-section {
    margin-top: 80px;
    text-align: center;
}

.video-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}


.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    aspect-ratio: 16 / 9;   
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}
